body { 
    

}
#home {
  width: 60px;
  height: 44px;
  background: url(https://cdn.pixabay.com/photo/2016/09/04/20/09/mountains-1645078__480.jpg) 0 0;
}
img{margin-top: auto;}
h1{font-family: Georgia, serif;}
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}